.base-card {
  background-color: #262626;
  color: #FFFFFF;
  border-radius: 0.75rem;      
  padding: 1rem;                
  margin: 0;                  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  width: 100%;                 
  max-width: 368px;             
  height: fit-content;          
  box-sizing: border-box;
  flex: 1 1 0;                 
  min-width: 300px;            
}

/* Başlık */
.base-card h1 {
  font-family: 'SF Pro Display', 'Segoe UI', 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.25rem;           
  line-height: 2.75rem;      
}
